<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8"/>
    <title>短链接已被禁用 - 南山拓谱</title>
    <meta name="description" content="南山拓谱 - 短链服务"/>
    <meta name="author" content="Arron"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" type="image/png" href="/static/favicon.ico"/>
</head>

<body>
<h1>Expired:</h1>
The page at {{ uri }} has been expired!
</body>

</html>
