<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8"/>
    <title>南山拓谱</title>
    <meta name="description" content="南山拓谱 - 短链服务"/>
    <meta name="author" content="Arron"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/skeleton.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>

<body>
<div class="container">
    {% block content %}{% endblock content %}
</div>
</body>

</html>